apiVersion: v1
kind: Service
metadata:
  name: portfolio
spec:
  type: ClusterIP
  selector:
    app: portfolio
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
